.text-button {
  border-style: solid;
  background-color: inherit;
  padding: 14px 10px;
  font-size: 20px;
  cursor: pointer;
  display: inline-block;
  color: steelblue;
  height: 10px;
  width: 60px;
  text-align:center;
  line-height: 10px;
  margin:5px 10px 50px 10px;
}

/* On mouse-over */
.text-button:hover {color: #3465a5;}

.submit-button {
  background-color: #000000;
  color: white;
  height: 40px;
  width: 100px;
} 

.task-input {
  margin: 1px 20px 30px;
  height: 40px;
  width: 300px;
}

h1 {
  margin: 50px 30px 50px 10px;
}